/* Reviews */
.testimonial {
  position: relative;
  background-blend-mode: multiply;
  padding: 0;
  padding-bottom: 40px;
}
.testimonial p {
  font-size: 16px;
}
.testimonial i {
  font-size: 60px;
}
.testimonial .profile-circle {
  background-color: transparent !important;
  background-image: url("https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/client_1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
.testimonial h2 {
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
}
.testimonial .carousel img {
  width: auto;
}
.testimonial .carousel-inner {
  margin-top: 40px;
}
.testimonial .company-review {
  text-align: center;
}
.testimonial .company-review .photo-box-img {
  border-radius: 50px;
}
.testimonial .company-review .review-content {
  margin-left: 20px;
  padding: 0 12px 6px 0;
}
.testimonial .company-review .review-content .biz-rating-large {
  margin: 6px 0;
}
.testimonial .company-review .review-content .biz-rating-large .rating-large {
  position: relative;
  overflow: hidden;
  margin: -1px 6px 0 0;
}
.testimonial .company-review .review-content .biz-rating-large .rating-large .rating-qualifier {
  display: block;
  float: left;
  font-weight: normal;
}
.testimonial .company-review .review-content .rating,
.testimonial .company-review .review-content .rating-large,
.testimonial .company-review .review-content .rating-very-large {
  position: relative;
  overflow: hidden;
}
.testimonial .company-review .review-content .rating .offscreen,
.testimonial .company-review .review-content .rating-large .offscreen,
.testimonial .company-review .review-content .rating-very-large .offscreen {
  clip: rect(0 0 0 0);
  position: absolute;
  left: -9999px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
.testimonial .company-review .review-content .rating img,
.testimonial .company-review .review-content .rating-large img,
.testimonial .company-review .review-content .rating-very-large img {
  vertical-align: middle;
}
.testimonial .company-review .review-content padding {
  margin-bottom: 12px;
}
.testimonial .carousel-control.left {
  background-image: none;
}
.testimonial .carousel-control {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: auto !important;
  padding: 20px;
  z-index: 1;
}
.testimonial .carousel-control .glyphicon-chevron-right .icon-next,
.testimonial .carousel-control .carousel-control .icon-next {
  margin-right: -10px;
  right: 0;
}
.testimonial .carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  left: auto;
  right: 0;
}
.testimonial .carousel-control.right .icon-next {
  background-color: #000;
  font-size: 40px;
  height: 79px;
  width: 50px;
  padding: 19px;
}
.testimonial .left.carousel-control .icon-prev,
.testimonial .icon-next {
  background-color: #000;
  font-size: 40px;
  height: 79px;
  width: 50px;
  padding: 19px;
  top: 40%;
}
.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}
.i-stars {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .i-stars {
    background-image: none !important;
  }
  .i-stars img {
    position: relative;
    width: auto;
    height: auto;
  }
}
.i-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 0;
}
@media print {
  .i-stars--large-0 img {
    left: 0;
    top: 0;
  }
}
.i-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px;
}
@media print {
  .i-stars--large-1 img {
    left: 0;
    top: -24px;
  }
}
.i-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px;
}
@media print {
  .i-stars--large-1-half img {
    left: 0;
    top: -48px;
  }
}
.i-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px;
}
@media print {
  .i-stars--large-2 img {
    left: 0;
    top: -72px;
  }
}
.i-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px;
}
@media print {
  .i-stars--large-2-half img {
    left: 0;
    top: -96px;
  }
}
.i-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px;
}
@media print {
  .i-stars--large-3 img {
    left: 0;
    top: -120px;
  }
}
.i-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px;
}
@media print {
  .i-stars--large-3-half img {
    left: 0;
    top: -144px;
  }
}
.i-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px;
}
@media print {
  .i-stars--large-4 img {
    left: 0;
    top: -168px;
  }
}
.i-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px;
}
@media print {
  .i-stars--large-4-half img {
    left: 0;
    top: -192px;
  }
}
.i-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px;
}
@media print {
  .i-stars--large-5 img {
    left: 0;
    top: -216px;
  }
}
.i-stars--regular-0 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px;
}
@media print {
  .i-stars--regular-0 img {
    left: 0;
    top: -240px;
  }
}
.i-stars--regular-1 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
@media print {
  .i-stars--regular-1 img {
    left: 0;
    top: -258px;
  }
}
.i-stars--regular-1-half {
  width: 102px;
  height: 18px;
  background-position: 0 -276px;
}
@media print {
  .i-stars--regular-1-half img {
    left: 0;
    top: -276px;
  }
}
.i-stars--regular-2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
@media print {
  .i-stars--regular-2 img {
    left: 0;
    top: -294px;
  }
}
.i-stars--regular-2-half {
  width: 102px;
  height: 18px;
  background-position: 0 -312px;
}
@media print {
  .i-stars--regular-2-half img {
    left: 0;
    top: -312px;
  }
}
.i-stars--regular-3 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
@media print {
  .i-stars--regular-3 img {
    left: 0;
    top: -330px;
  }
}
.i-stars--regular-3-half {
  width: 102px;
  height: 18px;
  background-position: 0 -348px;
}
@media print {
  .i-stars--regular-3-half img {
    left: 0;
    top: -348px;
  }
}
.i-stars--regular-4 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
@media print {
  .i-stars--regular-4 img {
    left: 0;
    top: -366px;
  }
}
.i-stars--regular-4-half {
  width: 102px;
  height: 18px;
  background-position: 0 -384px;
}
@media print {
  .i-stars--regular-4-half img {
    left: 0;
    top: -384px;
  }
}
.i-stars--regular-5 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}
@media print {
  .i-stars--regular-5 img {
    left: 0;
    top: -402px;
  }
}
.i-stars--small-0 {
  width: 82px;
  height: 14px;
  background-position: 0 -420px;
}
@media print {
  .i-stars--small-0 img {
    left: 0;
    top: -420px;
  }
}
.i-stars--small-1 {
  width: 82px;
  height: 14px;
  background-position: 0 -434px;
}
@media print {
  .i-stars--small-1 img {
    left: 0;
    top: -434px;
  }
}
.i-stars--small-1-half {
  width: 82px;
  height: 14px;
  background-position: 0 -448px;
}
@media print {
  .i-stars--small-1-half img {
    left: 0;
    top: -448px;
  }
}
.i-stars--small-2 {
  width: 82px;
  height: 14px;
  background-position: 0 -462px;
}
@media print {
  .i-stars--small-2 img {
    left: 0;
    top: -462px;
  }
}
.i-stars--small-2-half {
  width: 82px;
  height: 14px;
  background-position: 0 -476px;
}
@media print {
  .i-stars--small-2-half img {
    left: 0;
    top: -476px;
  }
}
.i-stars--small-3 {
  width: 82px;
  height: 14px;
  background-position: 0 -490px;
}
@media print {
  .i-stars--small-3 img {
    left: 0;
    top: -490px;
  }
}
.i-stars--small-3-half {
  width: 82px;
  height: 14px;
  background-position: 0 -504px;
}
@media print {
  .i-stars--small-3-half img {
    left: 0;
    top: -504px;
  }
}
.i-stars--small-4 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px;
}
@media print {
  .i-stars--small-4 img {
    left: 0;
    top: -518px;
  }
}
.i-stars--small-4-half {
  width: 82px;
  height: 14px;
  background-position: 0 -532px;
}
@media print {
  .i-stars--small-4-half img {
    left: 0;
    top: -532px;
  }
}
.i-stars--small-5 {
  width: 82px;
  height: 14px;
  background-position: 0 -546px;
}
@media print {
  .i-stars--small-5 img {
    left: 0;
    top: -546px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .i-stars {
    background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/stars@2x.png);
  }
}
.i-gray-stars {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/gray_stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .i-gray-stars {
    background-image: none !important;
  }
  .i-gray-stars img {
    position: relative;
    width: auto;
    height: auto;
  }
}
.i-gray-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 0;
}
@media print {
  .i-gray-stars--large-0 img {
    left: 0;
    top: 0;
  }
}
.i-gray-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px;
}
@media print {
  .i-gray-stars--large-1 img {
    left: 0;
    top: -24px;
  }
}
.i-gray-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px;
}
@media print {
  .i-gray-stars--large-1-half img {
    left: 0;
    top: -48px;
  }
}
.i-gray-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px;
}
@media print {
  .i-gray-stars--large-2 img {
    left: 0;
    top: -72px;
  }
}
.i-gray-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px;
}
@media print {
  .i-gray-stars--large-2-half img {
    left: 0;
    top: -96px;
  }
}
.i-gray-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px;
}
@media print {
  .i-gray-stars--large-3 img {
    left: 0;
    top: -120px;
  }
}
.i-gray-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px;
}
@media print {
  .i-gray-stars--large-3-half img {
    left: 0;
    top: -144px;
  }
}
.i-gray-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px;
}
@media print {
  .i-gray-stars--large-4 img {
    left: 0;
    top: -168px;
  }
}
.i-gray-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px;
}
@media print {
  .i-gray-stars--large-4-half img {
    left: 0;
    top: -192px;
  }
}
.i-gray-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px;
}
@media print {
  .i-gray-stars--large-5 img {
    left: 0;
    top: -216px;
  }
}
.i-gray-stars--regular-0 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px;
}
@media print {
  .i-gray-stars--regular-0 img {
    left: 0;
    top: -240px;
  }
}
.i-gray-stars--regular-1 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
@media print {
  .i-gray-stars--regular-1 img {
    left: 0;
    top: -258px;
  }
}
.i-gray-stars--regular-1-half {
  width: 102px;
  height: 18px;
  background-position: 0 -276px;
}
@media print {
  .i-gray-stars--regular-1-half img {
    left: 0;
    top: -276px;
  }
}
.i-gray-stars--regular-2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
@media print {
  .i-gray-stars--regular-2 img {
    left: 0;
    top: -294px;
  }
}
.i-gray-stars--regular-2-half {
  width: 102px;
  height: 18px;
  background-position: 0 -312px;
}
@media print {
  .i-gray-stars--regular-2-half img {
    left: 0;
    top: -312px;
  }
}
.i-gray-stars--regular-3 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
@media print {
  .i-gray-stars--regular-3 img {
    left: 0;
    top: -330px;
  }
}
.i-gray-stars--regular-3-half {
  width: 102px;
  height: 18px;
  background-position: 0 -348px;
}
@media print {
  .i-gray-stars--regular-3-half img {
    left: 0;
    top: -348px;
  }
}
.i-gray-stars--regular-4 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
@media print {
  .i-gray-stars--regular-4 img {
    left: 0;
    top: -366px;
  }
}
.i-gray-stars--regular-4-half {
  width: 102px;
  height: 18px;
  background-position: 0 -384px;
}
@media print {
  .i-gray-stars--regular-4-half img {
    left: 0;
    top: -384px;
  }
}
.i-gray-stars--regular-5 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}
@media print {
  .i-gray-stars--regular-5 img {
    left: 0;
    top: -402px;
  }
}
.i-gray-stars--small-0 {
  width: 82px;
  height: 14px;
  background-position: 0 -420px;
}
@media print {
  .i-gray-stars--small-0 img {
    left: 0;
    top: -420px;
  }
}
.i-gray-stars--small-1 {
  width: 82px;
  height: 14px;
  background-position: 0 -434px;
}
@media print {
  .i-gray-stars--small-1 img {
    left: 0;
    top: -434px;
  }
}
.i-gray-stars--small-1-half {
  width: 82px;
  height: 14px;
  background-position: 0 -448px;
}
@media print {
  .i-gray-stars--small-1-half img {
    left: 0;
    top: -448px;
  }
}
.i-gray-stars--small-2 {
  width: 82px;
  height: 14px;
  background-position: 0 -462px;
}
@media print {
  .i-gray-stars--small-2 img {
    left: 0;
    top: -462px;
  }
}
.i-gray-stars--small-2-half {
  width: 82px;
  height: 14px;
  background-position: 0 -476px;
}
@media print {
  .i-gray-stars--small-2-half img {
    left: 0;
    top: -476px;
  }
}
.i-gray-stars--small-3 {
  width: 82px;
  height: 14px;
  background-position: 0 -490px;
}
@media print {
  .i-gray-stars--small-3 img {
    left: 0;
    top: -490px;
  }
}
.i-gray-stars--small-3-half {
  width: 82px;
  height: 14px;
  background-position: 0 -504px;
}
@media print {
  .i-gray-stars--small-3-half img {
    left: 0;
    top: -504px;
  }
}
.i-gray-stars--small-4 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px;
}
@media print {
  .i-gray-stars--small-4 img {
    left: 0;
    top: -518px;
  }
}
.i-gray-stars--small-4-half {
  width: 82px;
  height: 14px;
  background-position: 0 -532px;
}
@media print {
  .i-gray-stars--small-4-half img {
    left: 0;
    top: -532px;
  }
}
.i-gray-stars--small-5 {
  width: 82px;
  height: 14px;
  background-position: 0 -546px;
}
@media print {
  .i-gray-stars--small-5 img {
    left: 0;
    top: -546px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .i-gray-stars {
    background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/gray_stars@2x.png);
  }
}
.rating,
.rating-large,
.rating-very-large {
  position: relative;
  overflow: hidden;
}
.filtered-reviews-content .i-stars {
  background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/gray_stars.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .filtered-reviews-content .i-stars {
    background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/gray_stars@2x.png);
  }
}
@font-face {
  font-family: 'lucida';
  font-style: normal;
  src: url("../fonts/lucida/lucida-calligra-regular.eot");
  src: url("../fonts/lucida/lucida-calligra-regular.woff2") format("woff2"), url("../fonts/lucida/lucida-calligra-regular.woff") format("woff"), url("../fonts/lucida/lucida-calligra-regular.ttf") format("truetype"), url("../fonts/lucida/lucida-calligra-regular.svg#fontawesome") format("svg");
  font-weight: normal;
}
/*variable*/
/* mixin */
/*=====================font-family=========================*/
.min-height340 {
  min-height: 340px;
}
.min-heigh180 {
  min-height: 180px;
}
.mt-8 {
  margin-top: 80px;
}
.mt-170 {
  margin-top: 170px;
}
.mt-N150 {
  margin-top: -150px;
}
.mt-N50 {
  margin-top: -50px;
}
.mt-6 {
  margin-top: 6em !important;
}
.p-10 {
  padding: 10px;
}
.round6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.primary-bg {
  background: #00743f;
}
.bg-white {
  background: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 14px 38px 0 rgba(0, 116, 63, 0.1);
  -moz-box-shadow: 0 14px 38px 0 rgba(0, 116, 63, 0.1);
  -webkit-box-shadow: 0 14px 38px 0 rgba(0, 116, 63, 0.1);
}
a {
  color: #00743f;
  transition: all 0.4s ease-in-out;
}
a:hover {
  color: #00a75b;
}
h1 {
  color: #272424;
  font-size: 30px;
  line-height: 36px;
}
h2 {
  font-weight: 900;
  font-size: 36px;
  color: #000;
}
h3 {
  font-size: 20px;
  color: #000;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 116, 63, 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #00743f;
  border-color: #00743f;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #00743f;
}
.btn-primary {
  color: #fff;
  background-color: #00743f;
  border-color: #00743f;
}
.btn-primary:hover {
  background: #00da76;
  border-color: #00743f;
}
.btn-white {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.btn-white:hover {
  background-color: #cccccc;
}
.btn-link {
  color: #00743f;
}
.btn-link:hover {
  color: #00743f;
}
.btn {
  border-radius: 25px;
  padding: 10px 40px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-outline-primary {
  color: #00743f;
  background-color: transparent;
  background-image: none;
  border-color: #00743f;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background: #00743f;
  border-color: #00743f;
}
.form-control {
  padding: .675rem .75rem;
  border-radius: 0;
  border: none;
  border-bottom: 1px solid #cbd5dd;
  background: transparent;
}
.form-control:focus {
  border-color: #00743f;
  box-shadow: 0 0 0 0.2rem rgba(0, 116, 63, 0.5);
}
body {
  font-size: 14px;
  color: #626262;
  font-family: 'Lato', sans-serif;
  background: #fff;
  line-height: 24px;
  font-weight: 400;
  overflow-x: hidden;
}
.bottom-fixed {
  background: #00743f;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 50px;
  padding: 15px;
  display: none;
  z-index: 100;
}
.bottom-fixed i {
  color: #fff;
  font-size: 30px;
}
.sticky-book {
  position: fixed;
  right: 0;
  top: 50%;
  background: #00743f;
  padding: 18px 20px 10px 22px;
  z-index: 10;
  border-radius: 40px;
  width: 250px;
  margin-right: -185px;
  color: #fff;
  height: 64px;
}
.sticky-book span {
  padding-left: 10px;
}
.sticky-book:hover {
  background: #000e08;
  margin-right: -20px;
  -webkit-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
  color: #fff;
  text-decoration: none;
}
.banner {
  margin-top: -150px;
  z-index: -2;
}
.banner .carousel-caption {
  background: rgba(0, 116, 63, 0.5);
  bottom: 50%;
  top: 35%;
  left: 55%;
  text-align: left;
  padding: 20px;
  width: 520px;
  height: 150px;
}
.banner .carousel-caption h5 {
  font-size: 46px;
  color: #fff;
  letter-spacing: 6px;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}
.banner .carousel-caption p {
  font-size: 46px;
  text-transform: uppercase;
  letter-spacing: 6px;
  padding-top: 10px;
  font-weight: 300;
}
.navbar-brand img {
  max-height: 80px;
}
.header-top {
  background: #272424;
  height: 50px;
}
.header-top ul {
  padding: 0;
}
.header-top ul li:first-child {
  border: none;
}
.header-top ul li {
  list-style: none;
  border-left: 1px solid #3b415e;
  padding: 13px 15px;
  float: left;
}
.header-top ul li a {
  color: #b9b9b9;
}
.header-top ul li a i {
  padding-right: 10px;
}
.header-top .social-links {
  float: right;
}
.header-top .social-links li {
  border: none;
  padding: 11px 5px;
}
.header-top .social-links li a {
  border: 1px solid #b9b9b9;
  width: 28px;
  height: 28px;
  float: left;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
}
.header-top .social-links li a i {
  padding: 0;
}
.header-top form {
  float: right;
  position: relative;
  padding: 11px 5px;
}
.header-top form input[type=text] {
  width: 28px;
  height: 28px;
  box-sizing: border-box;
  border: 1px solid #00743f;
  border-radius: 50px;
  font-size: 0;
  background: #00743f url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/17/img/search-icon.png) no-repeat 5px 5px;
  float: right;
  color: #fff;
}
.header-top form input[type=text]:focus {
  width: 100%;
  font-size: 16px;
  padding: 5px;
  padding-left: 25px;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;
}
.header {
  background: rgba(39, 36, 36, 0.6);
  padding: 0;
}
.header .navbar {
  padding: 0 1rem;
}
.header .navbar .collapse .navbar-nav .nav-item .nav-link {
  padding: 33px 40px;
  font-size: 18px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
.navbar-toggler {
  border: 1px solid #fff;
}
.navbar-toggler .navbar-toggler-icon {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/17/img/toggle.svg);
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: rgba(39, 36, 36, 0.9);
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.11);
}
.navbar-fixed-top .collapse .navbar-nav .nav-item .nav-link {
  padding: 33px 40px;
}
.nav-item:focus .nav-link,
.nav-item:hover .nav-link,
.nav-item.active .nav-link {
  color: #fff !important;
  background: #00743f;
}
.nav-item:focus > a:before,
.nav-item > a:hover:before,
.nav-item.active > a:before,
.navbar-nav > .nav-item.open > a:before {
  transition: .3s;
  background: #00743f;
}
.service-wrap {
  margin: -65px 20px 0 20px;
  position: relative;
  z-index: 1;
  padding-top: 45px;
  border-radius: 6px;
}
.service-wrap .btn {
  position: relative;
  bottom: -24px;
}
/* testimonial */
.testimonial {
  background-size: cover;
  background-repeat: no-repeat;
  height: 834px;
  margin-top: 170px;
  font-family: 'Lora', serif;
}
.testimonial-bg {
  background: rgba(0, 116, 63, 0.8);
  border-radius: 6px;
  padding: 100px 0;
  margin-top: 100px;
}
.testimonial-bg .review-content p {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/17/img/quote-icon.png) no-repeat 0 0;
  font-size: 30px;
  color: #fff;
  line-height: 42px;
  padding: 0 40px;
}
.testimonial-bg a {
  color: #fff;
  text-decoration: underline;
  margin-top: 50px;
  display: block;
}
.testimonial-bg .user-display-name {
  font-size: 30px;
  font-style: italic;
  font-weight: 700;
  color: #fff;
  line-height: 40px;
}
.appointment-section {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/17/img/footer-bg.jpg) repeat 0 0;
  padding: 90px 0;
}
.appointment-section .bg-grey {
  background: #dedede;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}
.appointment-section .bg-grey h4 {
  font-size: 16px;
  color: #000;
  padding: 0 10px;
}
.appointment-section .bg-grey ul {
  padding: 0 10px;
  list-style: none;
  text-align: left;
}
.appointment-section .bg-grey ul li {
  font-size: 14px;
  padding: 10px 0;
}
.appointment-section .bg-grey ul li span {
  width: 60%;
  float: left;
}
.appointment-section .list-group .list-group-item {
  padding: .75rem .55rem;
}
.appointment-section .list-group .list-group-item:hover {
  margin-left: 5px;
}
footer {
  background: #272424;
  padding: 20px 0;
  text-align: center;
}
footer ul {
  padding: 0;
  text-align: center;
}
footer ul li {
  list-style: circle;
  padding: 20px 10px 0;
  display: inline-block;
}
footer ul li a {
  font-size: 16px;
  color: #bbb2b2;
  padding: 0 10px;
}
footer ul li:before {
  width: 6px;
  height: 6px;
  background: #bbb2b2;
  content: '';
  position: relative;
  display: inline-block;
  border-radius: 10px;
  right: 11px;
}
footer ul li:nth-child(1):before {
  display: none;
}
footer p {
  font-size: 11px;
  padding: 0;
}
footer .footer-logo {
  max-width: 110px;
}
@media (max-width: 992px) {
  .banner .carousel-caption {
    left: 35%;
  }
  .mt-N150 {
    margin-top: 0;
  }
  .header .navbar .collapse .navbar-nav .nav-item .nav-link {
    padding: 10px;
  }
  .banner {
    margin-top: 0;
  }
  .header {
    background: #272424;
    border-top: 1px solid #3b415e;
  }
}
@media (max-width: 767px) {
  .header-top {
    height: auto;
  }
  .header-top ul {
    text-align: center;
    margin-bottom: 0;
  }
  .header-top ul li {
    display: inline-block;
    float: none;
    padding: 13px 10px;
  }
  .header-top ul li a {
    font-size: 12px;
  }
}
