/*=====================font-size=========================*/
/* Reviews */
.testimonial {
  position: relative;
  background-blend-mode: multiply;
  margin-bottom: 100px;
  text-align: center;
}
.testimonial p {
  font-size: 16px;
}
.testimonial i {
  font-size: 60px;
}
.testimonial .profile-circle {
  background-color: transparent !important;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
.testimonial h2 {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
}
.testimonial .carousel img {
  width: auto;
}
.testimonial .carousel-inner {
  margin-top: 40px;
}
.testimonial .company-review {
  text-align: center;
}
.testimonial .company-review .photo-box {
  border: 4px solid #000;
  width: 110px;
  border-radius: 100px;
  height: 110px;
  display: inline-block;
}
.testimonial .company-review .photo-box-img {
  border-radius: 100%;
  width: 100%;
  height: 100%;
}
.testimonial .company-review .user-display-name {
  font-size: 18px;
  text-transform: uppercase;
  color: #000;
  margin-top: 20px;
  font-weight: 700;
}
.testimonial .company-review .review-content {
  margin-left: 20px;
  padding: 0 12px 6px 0;
}
.testimonial .company-review .review-content p {
  background: url("../img/quote-icon.png") no-repeat 50% 50%;
  color: #010101;
  font-size: 18px;
  min-height: 100px;
  padding-top: 10px;
  font-weight: 500;
  margin-bottom: 40px;
  margin-top: 20px;
}
.testimonial .company-review .review-content .biz-rating-large {
  margin: 6px 0;
}
.testimonial .company-review .review-content .biz-rating-large .rating-large {
  position: relative;
  overflow: hidden;
  margin: -1px 6px 0 0;
}
.testimonial .company-review .review-content .biz-rating-large .rating-large .rating-qualifier {
  display: block;
  float: left;
  font-weight: normal;
}
.testimonial .company-review .review-content .rating,
.testimonial .company-review .review-content .rating-large,
.testimonial .company-review .review-content .rating-very-large {
  position: relative;
  overflow: hidden;
}
.testimonial .company-review .review-content .rating .offscreen,
.testimonial .company-review .review-content .rating-large .offscreen,
.testimonial .company-review .review-content .rating-very-large .offscreen {
  clip: rect(0 0 0 0);
  position: absolute;
  left: -9999px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
.testimonial .company-review .review-content .rating img,
.testimonial .company-review .review-content .rating-large img,
.testimonial .company-review .review-content .rating-very-large img {
  vertical-align: middle;
}
.testimonial .company-review .review-content padding {
  margin-bottom: 12px;
}
.testimonial .carousel-control.left,
.testimonial .carousel-control.right {
  background-image: none !important;
}
.testimonial .carousel-control {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 50%;
  width: auto !important;
  padding: 20px;
  z-index: 1;
}
.testimonial .carousel-control .glyphicon-chevron-right .icon-next,
.testimonial .carousel-control .carousel-control .icon-next {
  margin-right: -10px;
  right: 0;
}
.testimonial .carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  left: auto;
  right: 0;
}
.testimonial .carousel-control.right .icon-next {
  background-color: #000;
  font-size: 40px;
  height: 79px;
  width: 50px;
  padding: 19px;
}
.testimonial .left.carousel-control .icon-prev,
.testimonial .icon-next {
  background-color: #000;
  font-size: 40px;
  height: 79px;
  width: 50px;
  padding: 19px;
  top: 40%;
}
.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}
.i-stars {
  background: url(../img/stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .i-stars {
    background-image: none !important;
  }
  .i-stars img {
    position: relative;
    width: auto;
    height: auto;
  }
}
.i-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 0;
}
@media print {
  .i-stars--large-0 img {
    left: 0;
    top: 0;
  }
}
.i-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px;
}
@media print {
  .i-stars--large-1 img {
    left: 0;
    top: -24px;
  }
}
.i-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px;
}
@media print {
  .i-stars--large-1-half img {
    left: 0;
    top: -48px;
  }
}
.i-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px;
}
@media print {
  .i-stars--large-2 img {
    left: 0;
    top: -72px;
  }
}
.i-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px;
}
@media print {
  .i-stars--large-2-half img {
    left: 0;
    top: -96px;
  }
}
.i-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px;
}
@media print {
  .i-stars--large-3 img {
    left: 0;
    top: -120px;
  }
}
.i-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px;
}
@media print {
  .i-stars--large-3-half img {
    left: 0;
    top: -144px;
  }
}
.i-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px;
}
@media print {
  .i-stars--large-4 img {
    left: 0;
    top: -168px;
  }
}
.i-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px;
}
@media print {
  .i-stars--large-4-half img {
    left: 0;
    top: -192px;
  }
}
.i-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px;
}
@media print {
  .i-stars--large-5 img {
    left: 0;
    top: -216px;
  }
}
.i-stars--regular-0 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px;
}
@media print {
  .i-stars--regular-0 img {
    left: 0;
    top: -240px;
  }
}
.i-stars--regular-1 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
@media print {
  .i-stars--regular-1 img {
    left: 0;
    top: -258px;
  }
}
.i-stars--regular-1-half {
  width: 102px;
  height: 18px;
  background-position: 0 -276px;
}
@media print {
  .i-stars--regular-1-half img {
    left: 0;
    top: -276px;
  }
}
.i-stars--regular-2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
@media print {
  .i-stars--regular-2 img {
    left: 0;
    top: -294px;
  }
}
.i-stars--regular-2-half {
  width: 102px;
  height: 18px;
  background-position: 0 -312px;
}
@media print {
  .i-stars--regular-2-half img {
    left: 0;
    top: -312px;
  }
}
.i-stars--regular-3 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
@media print {
  .i-stars--regular-3 img {
    left: 0;
    top: -330px;
  }
}
.i-stars--regular-3-half {
  width: 102px;
  height: 18px;
  background-position: 0 -348px;
}
@media print {
  .i-stars--regular-3-half img {
    left: 0;
    top: -348px;
  }
}
.i-stars--regular-4 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
@media print {
  .i-stars--regular-4 img {
    left: 0;
    top: -366px;
  }
}
.i-stars--regular-4-half {
  width: 102px;
  height: 18px;
  background-position: 0 -384px;
}
@media print {
  .i-stars--regular-4-half img {
    left: 0;
    top: -384px;
  }
}
.i-stars--regular-5 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}
@media print {
  .i-stars--regular-5 img {
    left: 0;
    top: -402px;
  }
}
.i-stars--small-0 {
  width: 82px;
  height: 14px;
  background-position: 0 -420px;
}
@media print {
  .i-stars--small-0 img {
    left: 0;
    top: -420px;
  }
}
.i-stars--small-1 {
  width: 82px;
  height: 14px;
  background-position: 0 -434px;
}
@media print {
  .i-stars--small-1 img {
    left: 0;
    top: -434px;
  }
}
.i-stars--small-1-half {
  width: 82px;
  height: 14px;
  background-position: 0 -448px;
}
@media print {
  .i-stars--small-1-half img {
    left: 0;
    top: -448px;
  }
}
.i-stars--small-2 {
  width: 82px;
  height: 14px;
  background-position: 0 -462px;
}
@media print {
  .i-stars--small-2 img {
    left: 0;
    top: -462px;
  }
}
.i-stars--small-2-half {
  width: 82px;
  height: 14px;
  background-position: 0 -476px;
}
@media print {
  .i-stars--small-2-half img {
    left: 0;
    top: -476px;
  }
}
.i-stars--small-3 {
  width: 82px;
  height: 14px;
  background-position: 0 -490px;
}
@media print {
  .i-stars--small-3 img {
    left: 0;
    top: -490px;
  }
}
.i-stars--small-3-half {
  width: 82px;
  height: 14px;
  background-position: 0 -504px;
}
@media print {
  .i-stars--small-3-half img {
    left: 0;
    top: -504px;
  }
}
.i-stars--small-4 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px;
}
@media print {
  .i-stars--small-4 img {
    left: 0;
    top: -518px;
  }
}
.i-stars--small-4-half {
  width: 82px;
  height: 14px;
  background-position: 0 -532px;
}
@media print {
  .i-stars--small-4-half img {
    left: 0;
    top: -532px;
  }
}
.i-stars--small-5 {
  width: 82px;
  height: 14px;
  background-position: 0 -546px;
}
@media print {
  .i-stars--small-5 img {
    left: 0;
    top: -546px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .i-stars {
    background-image: url(img/themes/common/img/stars@2x.png);
  }
}
.i-gray-stars {
  background: url(img/themes/common/img/gray_stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .i-gray-stars {
    background-image: none !important;
  }
  .i-gray-stars img {
    position: relative;
    width: auto;
    height: auto;
  }
}
.i-gray-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 0;
}
@media print {
  .i-gray-stars--large-0 img {
    left: 0;
    top: 0;
  }
}
.i-gray-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px;
}
@media print {
  .i-gray-stars--large-1 img {
    left: 0;
    top: -24px;
  }
}
.i-gray-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px;
}
@media print {
  .i-gray-stars--large-1-half img {
    left: 0;
    top: -48px;
  }
}
.i-gray-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px;
}
@media print {
  .i-gray-stars--large-2 img {
    left: 0;
    top: -72px;
  }
}
.i-gray-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px;
}
@media print {
  .i-gray-stars--large-2-half img {
    left: 0;
    top: -96px;
  }
}
.i-gray-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px;
}
@media print {
  .i-gray-stars--large-3 img {
    left: 0;
    top: -120px;
  }
}
.i-gray-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px;
}
@media print {
  .i-gray-stars--large-3-half img {
    left: 0;
    top: -144px;
  }
}
.i-gray-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px;
}
@media print {
  .i-gray-stars--large-4 img {
    left: 0;
    top: -168px;
  }
}
.i-gray-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px;
}
@media print {
  .i-gray-stars--large-4-half img {
    left: 0;
    top: -192px;
  }
}
.i-gray-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px;
}
@media print {
  .i-gray-stars--large-5 img {
    left: 0;
    top: -216px;
  }
}
.i-gray-stars--regular-0 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px;
}
@media print {
  .i-gray-stars--regular-0 img {
    left: 0;
    top: -240px;
  }
}
.i-gray-stars--regular-1 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
@media print {
  .i-gray-stars--regular-1 img {
    left: 0;
    top: -258px;
  }
}
.i-gray-stars--regular-1-half {
  width: 102px;
  height: 18px;
  background-position: 0 -276px;
}
@media print {
  .i-gray-stars--regular-1-half img {
    left: 0;
    top: -276px;
  }
}
.i-gray-stars--regular-2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
@media print {
  .i-gray-stars--regular-2 img {
    left: 0;
    top: -294px;
  }
}
.i-gray-stars--regular-2-half {
  width: 102px;
  height: 18px;
  background-position: 0 -312px;
}
@media print {
  .i-gray-stars--regular-2-half img {
    left: 0;
    top: -312px;
  }
}
.i-gray-stars--regular-3 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
@media print {
  .i-gray-stars--regular-3 img {
    left: 0;
    top: -330px;
  }
}
.i-gray-stars--regular-3-half {
  width: 102px;
  height: 18px;
  background-position: 0 -348px;
}
@media print {
  .i-gray-stars--regular-3-half img {
    left: 0;
    top: -348px;
  }
}
.i-gray-stars--regular-4 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
@media print {
  .i-gray-stars--regular-4 img {
    left: 0;
    top: -366px;
  }
}
.i-gray-stars--regular-4-half {
  width: 102px;
  height: 18px;
  background-position: 0 -384px;
}
@media print {
  .i-gray-stars--regular-4-half img {
    left: 0;
    top: -384px;
  }
}
.i-gray-stars--regular-5 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}
@media print {
  .i-gray-stars--regular-5 img {
    left: 0;
    top: -402px;
  }
}
.i-gray-stars--small-0 {
  width: 82px;
  height: 14px;
  background-position: 0 -420px;
}
@media print {
  .i-gray-stars--small-0 img {
    left: 0;
    top: -420px;
  }
}
.i-gray-stars--small-1 {
  width: 82px;
  height: 14px;
  background-position: 0 -434px;
}
@media print {
  .i-gray-stars--small-1 img {
    left: 0;
    top: -434px;
  }
}
.i-gray-stars--small-1-half {
  width: 82px;
  height: 14px;
  background-position: 0 -448px;
}
@media print {
  .i-gray-stars--small-1-half img {
    left: 0;
    top: -448px;
  }
}
.i-gray-stars--small-2 {
  width: 82px;
  height: 14px;
  background-position: 0 -462px;
}
@media print {
  .i-gray-stars--small-2 img {
    left: 0;
    top: -462px;
  }
}
.i-gray-stars--small-2-half {
  width: 82px;
  height: 14px;
  background-position: 0 -476px;
}
@media print {
  .i-gray-stars--small-2-half img {
    left: 0;
    top: -476px;
  }
}
.i-gray-stars--small-3 {
  width: 82px;
  height: 14px;
  background-position: 0 -490px;
}
@media print {
  .i-gray-stars--small-3 img {
    left: 0;
    top: -490px;
  }
}
.i-gray-stars--small-3-half {
  width: 82px;
  height: 14px;
  background-position: 0 -504px;
}
@media print {
  .i-gray-stars--small-3-half img {
    left: 0;
    top: -504px;
  }
}
.i-gray-stars--small-4 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px;
}
@media print {
  .i-gray-stars--small-4 img {
    left: 0;
    top: -518px;
  }
}
.i-gray-stars--small-4-half {
  width: 82px;
  height: 14px;
  background-position: 0 -532px;
}
@media print {
  .i-gray-stars--small-4-half img {
    left: 0;
    top: -532px;
  }
}
.i-gray-stars--small-5 {
  width: 82px;
  height: 14px;
  background-position: 0 -546px;
}
@media print {
  .i-gray-stars--small-5 img {
    left: 0;
    top: -546px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .i-gray-stars {
    background-image: url(img/themes/common/img/gray_stars@2x.png);
  }
}
.rating,
.rating-large,
.rating-very-large {
  position: relative;
  overflow: hidden;
}
.filtered-reviews-content .i-stars {
  background-image: url(img/themes/common/img/gray_stars.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .filtered-reviews-content .i-stars {
    background-image: url(img/themes/common/img/gray_stars@2x.png);
  }
}
@font-face {
  font-family: 'lucida';
  font-style: normal;
  src: url("../fonts/lucida/lucida-calligra-regular.eot");
  src: url("../fonts/lucida/lucida-calligra-regular.woff2") format("woff2"), url("../fonts/lucida/lucida-calligra-regular.woff") format("woff"), url("../fonts/lucida/lucida-calligra-regular.ttf") format("truetype"), url("../fonts/lucida/lucida-calligra-regular.svg#fontawesome") format("svg");
  font-weight: normal;
}
/*variable*/
/*=====================font-family=========================*/
a {
  color: #e7ab07;
}
a:hover {
  color: #f9c129;
}
h2 {
  font-weight: 300;
  font-size: 1.5em;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(231, 171, 7, 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e7ab07;
  border-color: #e7ab07;
}
.form-control {
  padding: 0.675rem 0.75rem;
  border-radius: 0;
}
.form-control:focus {
  border-color: #e7ab07;
  box-shadow: 0 0 0 0.2rem rgba(231, 171, 7, 0.5);
}
body {
  font-size: 15px;
  color: #000;
  font-family: Montserrat;
  background: #fff;
  line-height: 30px;
  font-weight: 400;
}
.sticky-book {
  position: fixed;
  bottom: 0;
  right: 10px;
  background: #e7ab07;
  padding: 20px 30px 15px;
  z-index: 10;
  display: none;
  color: #fff;
  font-weight: 700;
  border-radius: 20px 20px 0 0;
  text-transform: uppercase;
}
.sticky-book:hover {
  background: #846204;
  color: #fff;
  text-decoration: none;
}
.navbar-brand img {
  max-height: 80px;
}
.banner-01 {
  width: 100vw;
  background-size: cover;
  background-attachment: fixed;
  background-position: 50% 0;
  background-repeat: no-repeat;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  -moz-transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
.banner-01 .carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 35%;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
.banner-01 h1 {
  font-size: 75px;
  color: #fff;
  line-height: 120px;
  font-family: lucida;
  letter-spacing: 2px;
}
.banner-01 h1 span {
  color: #e7ab07;
  text-transform: uppercase;
}
.banner-01 .btn-primary {
  margin-top: 75px;
}
.btn {
  border-radius: 32px;
  padding: 0.5em 45px;
}
.btn-primary {
  background: #e7ab07;
  border: #e7ab07;
}
.btn-primary:hover {
  background: #facf5a;
}
.navbar-fixed-top {
  top: 0;
  bottom: inherit !important;
}
.header.bg-dark {
  background: rgba(14, 32, 52, 0.9) !important;
  padding: 0.4rem 1rem;
}
.header .navbar-nav .nav-item .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  text-transform: uppercase;
}
.dropdown-divider {
  margin: 0;
}
.dropdown-menu {
  background: #fefaef;
}
.dropdown-item:focus,
.dropdown-item:hover {
  text-decoration: none;
  background-color: #facf5a;
  color: #000;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #e7ab07;
}
/* Search */
.search {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
.search-box input[type="text"] {
  border: none;
  background: none;
  z-index: 1;
  width: 25px;
  height: 25px;
  transition: all 0.25s ease-in 0.25s;
  color: transparent;
  font-size: 0.75rem;
  line-height: 25px;
}
.search-box input[type="text"]:hover {
  cursor: pointer;
}
.search-box input[type="text"]:hover:focus {
  cursor: text;
}
.search-box input[type="text"]:hover + span {
  background: rgba(255, 255, 255, 0.2);
}
.search-box input[type="text"]:focus {
  width: 200px;
  padding: 0 10px;
  outline: none;
  background: none;
  color: white;
}
.search-box input[type="text"]:focus + span {
  width: 200px;
  height: 30px;
  font-size: 16px;
}
.search-box input[type="text"]:focus + span::before {
  width: 2px;
  opacity: 0;
  transition: all 0.25s ease-in;
}
.search-box input[type="text"] + span {
  z-index: -1;
  position: absolute;
  border: 2px solid white;
  top: 0;
  width: 20px;
  height: 20px;
  font-size: 0;
  transition: all 0.25s ease-in 0.25s;
  border-radius: 25px;
  left: 0;
}
.search-box input[type="text"] + span::before {
  transition: all 0.25s ease-in 0.5s;
  transform-origin: left top;
  content: '';
  position: absolute;
  width: 10px;
  height: 5px;
  border-radius: 5px;
  background: white;
  transform: rotate(45deg) translate(20px, -2px);
}
/* End Search */
.banner-02 {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
.bg-theme {
  background: url("https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/15/img/teeth-bg.png") no-repeat 100% 100% rgba(231, 171, 7, 0.8);
  height: 100vh;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}
.bg-theme .main-content__heading {
  color: #fff !important;
}
.main-content .main-content__heading {
  border: 2px solid #e7ab07;
  padding: 25px 30px;
  color: #0e2034;
  font-size: 30px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-top: 100px;
  display: inline-block;
}
.main-content p {
  color: #fff;
  margin-top: 60px;
  font-weight: 500;
}
.bg-white p {
  color: #000;
}
.banner-03 {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
  padding: 5em 0;
}
.feature {
  margin-top: 60px;
}
.feature .table-cell-width td {
  width: 1%;
}
.feature td {
  border-top: none !important;
  padding: 0 !important;
}
.feature a {
  padding: 25px 10px;
  float: left;
  width: 100%;
}
.feature a:focus,
.feature a:hover {
  text-decoration: none;
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
  transition: all 1.3s ease-out;
  -webkit-transition: all 1.3s ease-out;
  -moz-transition: all 1.3s ease-out;
  -o-transition: all 1.3s ease-out;
}
.feature a .feature-bg {
  margin: 0 auto 15px;
  background: #e7ab07;
  box-shadow: 0 0 0 14px rgba(231, 171, 7, 0.4);
  width: 120px;
  height: 120px;
  border-radius: 50%;
  text-align: center;
  padding-top: 20px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.feature a h4 {
  font-weight: normal;
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  line-height: 30px;
  margin-top: 30px;
  min-height: 60px;
}
.feature a p {
  margin-top: 40px;
  text-align: center;
  line-height: 24px;
}
.banner-04 {
  background-size: cover;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100%;
}
/*  footer */
.footer-top {
  background: #0e2034;
}
.footer-top h3 {
  margin-top: 20px;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-top ul {
  padding: 0;
  margin-top: 15px;
}
.footer-top ul li {
  list-style: none;
  font-size: 12px;
  color: #e1e1e1;
  font-weight: 500;
}
.footer-top ul li span {
  min-width: 160px;
  float: left;
}
.footer-top .social-links {
  margin-bottom: 0;
  float: left;
  margin-top: 0;
}
.footer-top .social-links li {
  float: left;
  margin-right: 20px;
  font-size: 18px;
}
.footer-top .social-links li a {
  color: #fff;
}
.footer-top .social-links li a :hover {
  color: #e7ab07;
}
.footer-top .our-services {
  float: left;
  width: 100%;
  margin: 0 0 20px 0;
  padding: 0;
}
.footer-top .our-services li {
  float: left;
  margin: 0 8px 0 0;
}
.footer-bottom {
  background: #07121f;
  padding: 20px 0;
  text-align: center;
  color: #717171;
  font-size: 11px;
}
.footer-bottom ul {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  display: inline-block;
}
.footer-bottom ul li {
  float: left;
  margin: 0 5px;
}
.footer-bottom p {
  margin: 0;
}
.inner-bg {
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 350px;
  background-size: cover;
}
.light-grey {
  background: #f8f8f8;
}
.grey {
  background: #f2f2f2;
}
.dental-services ul {
  width: 100%;
  float: left;
  padding: 0;
}
.dental-services ul li {
  list-style: none;
  width: 50%;
  float: left;
  text-align: center;
  margin-top: 40px;
}
.dental-services ul li .feature-bg {
  -webkit-transition: all 1.3s ease-in-out;
  -moz-transition: all 1.3s ease-in-out;
  -o-transition: all 1.3s ease-in-out;
  background: #e7ab07;
  box-shadow: 0 0 0 14px rgba(231, 171, 7, 0.4);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  padding-top: 15px;
  display: inline-block;
}
.dental-services ul li h3 {
  margin-top: 30px;
  color: #000;
  font-size: 15px;
}
/* Responsive */
@media only screen and (max-width: 991px) {
  .feature .table-cell-width td {
    width: 50%;
    float: left;
  }
  .md-scn {
    width: 100%;
    float: left;
  }
  .md-scn .p-5 {
    width: 100%;
    float: left;
  }
  .md-scn .dental-services {
    width: 100%;
    float: left;
  }
}
@media only screen and (max-width: 767px) {
  .feature .table-cell-width td {
    width: 100%;
  }
  .feature a p {
    margin-top: 0;
  }
  .banner-01 h1 {
    font-size: 30px;
    line-height: 70px;
  }
  .sticky-book {
    padding: 10px 20px 10px;
    border-radius: 10px 10px 0 0;
  }
  .main-content .main-content__heading {
    padding: 10px;
    line-height: 34px;
  }
}
