/* Reviews */
.testimonial {
  position: relative;
  background-blend-mode: multiply;
  padding: 0;
  padding-bottom: 40px;
}
.testimonial p {
  font-size: 16px;
}
.testimonial i {
  font-size: 60px;
}
.testimonial .profile-circle {
  background-color: transparent !important;
  background-image: url("img/themes/common/img/client_1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
.testimonial h2 {
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
}
.testimonial .carousel img {
  width: auto;
}
.testimonial .carousel-inner {
  margin-top: 40px;
}
.testimonial .company-review {
  text-align: center;
}
.testimonial .company-review .photo-box-img {
  border-radius: 50px;
}
.testimonial .company-review .review-content {
  margin-left: 20px;
  padding: 0 12px 6px 0;
}
.testimonial .company-review .review-content .biz-rating-large {
  margin: 6px 0;
}
.testimonial .company-review .review-content .biz-rating-large .rating-large {
  position: relative;
  overflow: hidden;
  margin: -1px 6px 0 0;
}
.testimonial .company-review .review-content .biz-rating-large .rating-large .rating-qualifier {
  display: block;
  float: left;
  font-weight: normal;
}
.testimonial .company-review .review-content .rating,
.testimonial .company-review .review-content .rating-large,
.testimonial .company-review .review-content .rating-very-large {
  position: relative;
  overflow: hidden;
}
.testimonial .company-review .review-content .rating .offscreen,
.testimonial .company-review .review-content .rating-large .offscreen,
.testimonial .company-review .review-content .rating-very-large .offscreen {
  clip: rect(0 0 0 0);
  position: absolute;
  left: -9999px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
.testimonial .company-review .review-content .rating img,
.testimonial .company-review .review-content .rating-large img,
.testimonial .company-review .review-content .rating-very-large img {
  vertical-align: middle;
}
.testimonial .company-review .review-content padding {
  margin-bottom: 12px;
}
.testimonial .carousel-control.left {
  background-image: none;
}
.testimonial .carousel-control {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: auto !important;
  padding: 20px;
  z-index: 1;
}
.testimonial .carousel-control .glyphicon-chevron-right .icon-next,
.testimonial .carousel-control .carousel-control .icon-next {
  margin-right: -10px;
  right: 0;
}
.testimonial .carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  left: auto;
  right: 0;
}
.testimonial .carousel-control.right .icon-next {
  background-color: #000;
  font-size: 40px;
  height: 79px;
  width: 50px;
  padding: 19px;
}
.testimonial .left.carousel-control .icon-prev,
.testimonial .icon-next {
  background-color: #000;
  font-size: 40px;
  height: 79px;
  width: 50px;
  padding: 19px;
  top: 40%;
}
.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}
.i-stars {
  background: url(https://dentistreet.azureedge.net/design-assets/img/themes/common/img/stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .i-stars {
    background-image: none !important;
  }
  .i-stars img {
    position: relative;
    width: auto;
    height: auto;
  }
}
.i-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 0;
}
@media print {
  .i-stars--large-0 img {
    left: 0;
    top: 0;
  }
}
.i-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px;
}
@media print {
  .i-stars--large-1 img {
    left: 0;
    top: -24px;
  }
}
.i-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px;
}
@media print {
  .i-stars--large-1-half img {
    left: 0;
    top: -48px;
  }
}
.i-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px;
}
@media print {
  .i-stars--large-2 img {
    left: 0;
    top: -72px;
  }
}
.i-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px;
}
@media print {
  .i-stars--large-2-half img {
    left: 0;
    top: -96px;
  }
}
.i-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px;
}
@media print {
  .i-stars--large-3 img {
    left: 0;
    top: -120px;
  }
}
.i-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px;
}
@media print {
  .i-stars--large-3-half img {
    left: 0;
    top: -144px;
  }
}
.i-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px;
}
@media print {
  .i-stars--large-4 img {
    left: 0;
    top: -168px;
  }
}
.i-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px;
}
@media print {
  .i-stars--large-4-half img {
    left: 0;
    top: -192px;
  }
}
.i-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px;
}
@media print {
  .i-stars--large-5 img {
    left: 0;
    top: -216px;
  }
}
.i-stars--regular-0 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px;
}
@media print {
  .i-stars--regular-0 img {
    left: 0;
    top: -240px;
  }
}
.i-stars--regular-1 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
@media print {
  .i-stars--regular-1 img {
    left: 0;
    top: -258px;
  }
}
.i-stars--regular-1-half {
  width: 102px;
  height: 18px;
  background-position: 0 -276px;
}
@media print {
  .i-stars--regular-1-half img {
    left: 0;
    top: -276px;
  }
}
.i-stars--regular-2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
@media print {
  .i-stars--regular-2 img {
    left: 0;
    top: -294px;
  }
}
.i-stars--regular-2-half {
  width: 102px;
  height: 18px;
  background-position: 0 -312px;
}
@media print {
  .i-stars--regular-2-half img {
    left: 0;
    top: -312px;
  }
}
.i-stars--regular-3 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
@media print {
  .i-stars--regular-3 img {
    left: 0;
    top: -330px;
  }
}
.i-stars--regular-3-half {
  width: 102px;
  height: 18px;
  background-position: 0 -348px;
}
@media print {
  .i-stars--regular-3-half img {
    left: 0;
    top: -348px;
  }
}
.i-stars--regular-4 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
@media print {
  .i-stars--regular-4 img {
    left: 0;
    top: -366px;
  }
}
.i-stars--regular-4-half {
  width: 102px;
  height: 18px;
  background-position: 0 -384px;
}
@media print {
  .i-stars--regular-4-half img {
    left: 0;
    top: -384px;
  }
}
.i-stars--regular-5 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}
@media print {
  .i-stars--regular-5 img {
    left: 0;
    top: -402px;
  }
}
.i-stars--small-0 {
  width: 82px;
  height: 14px;
  background-position: 0 -420px;
}
@media print {
  .i-stars--small-0 img {
    left: 0;
    top: -420px;
  }
}
.i-stars--small-1 {
  width: 82px;
  height: 14px;
  background-position: 0 -434px;
}
@media print {
  .i-stars--small-1 img {
    left: 0;
    top: -434px;
  }
}
.i-stars--small-1-half {
  width: 82px;
  height: 14px;
  background-position: 0 -448px;
}
@media print {
  .i-stars--small-1-half img {
    left: 0;
    top: -448px;
  }
}
.i-stars--small-2 {
  width: 82px;
  height: 14px;
  background-position: 0 -462px;
}
@media print {
  .i-stars--small-2 img {
    left: 0;
    top: -462px;
  }
}
.i-stars--small-2-half {
  width: 82px;
  height: 14px;
  background-position: 0 -476px;
}
@media print {
  .i-stars--small-2-half img {
    left: 0;
    top: -476px;
  }
}
.i-stars--small-3 {
  width: 82px;
  height: 14px;
  background-position: 0 -490px;
}
@media print {
  .i-stars--small-3 img {
    left: 0;
    top: -490px;
  }
}
.i-stars--small-3-half {
  width: 82px;
  height: 14px;
  background-position: 0 -504px;
}
@media print {
  .i-stars--small-3-half img {
    left: 0;
    top: -504px;
  }
}
.i-stars--small-4 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px;
}
@media print {
  .i-stars--small-4 img {
    left: 0;
    top: -518px;
  }
}
.i-stars--small-4-half {
  width: 82px;
  height: 14px;
  background-position: 0 -532px;
}
@media print {
  .i-stars--small-4-half img {
    left: 0;
    top: -532px;
  }
}
.i-stars--small-5 {
  width: 82px;
  height: 14px;
  background-position: 0 -546px;
}
@media print {
  .i-stars--small-5 img {
    left: 0;
    top: -546px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .i-stars {
    background-image: url(img/themes/common/img/stars@2x.png);
  }
}
.i-gray-stars {
  background: url(img/themes/common/img/gray_stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .i-gray-stars {
    background-image: none !important;
  }
  .i-gray-stars img {
    position: relative;
    width: auto;
    height: auto;
  }
}
.i-gray-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 0;
}
@media print {
  .i-gray-stars--large-0 img {
    left: 0;
    top: 0;
  }
}
.i-gray-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px;
}
@media print {
  .i-gray-stars--large-1 img {
    left: 0;
    top: -24px;
  }
}
.i-gray-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px;
}
@media print {
  .i-gray-stars--large-1-half img {
    left: 0;
    top: -48px;
  }
}
.i-gray-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px;
}
@media print {
  .i-gray-stars--large-2 img {
    left: 0;
    top: -72px;
  }
}
.i-gray-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px;
}
@media print {
  .i-gray-stars--large-2-half img {
    left: 0;
    top: -96px;
  }
}
.i-gray-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px;
}
@media print {
  .i-gray-stars--large-3 img {
    left: 0;
    top: -120px;
  }
}
.i-gray-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px;
}
@media print {
  .i-gray-stars--large-3-half img {
    left: 0;
    top: -144px;
  }
}
.i-gray-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px;
}
@media print {
  .i-gray-stars--large-4 img {
    left: 0;
    top: -168px;
  }
}
.i-gray-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px;
}
@media print {
  .i-gray-stars--large-4-half img {
    left: 0;
    top: -192px;
  }
}
.i-gray-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px;
}
@media print {
  .i-gray-stars--large-5 img {
    left: 0;
    top: -216px;
  }
}
.i-gray-stars--regular-0 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px;
}
@media print {
  .i-gray-stars--regular-0 img {
    left: 0;
    top: -240px;
  }
}
.i-gray-stars--regular-1 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
@media print {
  .i-gray-stars--regular-1 img {
    left: 0;
    top: -258px;
  }
}
.i-gray-stars--regular-1-half {
  width: 102px;
  height: 18px;
  background-position: 0 -276px;
}
@media print {
  .i-gray-stars--regular-1-half img {
    left: 0;
    top: -276px;
  }
}
.i-gray-stars--regular-2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
@media print {
  .i-gray-stars--regular-2 img {
    left: 0;
    top: -294px;
  }
}
.i-gray-stars--regular-2-half {
  width: 102px;
  height: 18px;
  background-position: 0 -312px;
}
@media print {
  .i-gray-stars--regular-2-half img {
    left: 0;
    top: -312px;
  }
}
.i-gray-stars--regular-3 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
@media print {
  .i-gray-stars--regular-3 img {
    left: 0;
    top: -330px;
  }
}
.i-gray-stars--regular-3-half {
  width: 102px;
  height: 18px;
  background-position: 0 -348px;
}
@media print {
  .i-gray-stars--regular-3-half img {
    left: 0;
    top: -348px;
  }
}
.i-gray-stars--regular-4 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
@media print {
  .i-gray-stars--regular-4 img {
    left: 0;
    top: -366px;
  }
}
.i-gray-stars--regular-4-half {
  width: 102px;
  height: 18px;
  background-position: 0 -384px;
}
@media print {
  .i-gray-stars--regular-4-half img {
    left: 0;
    top: -384px;
  }
}
.i-gray-stars--regular-5 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}
@media print {
  .i-gray-stars--regular-5 img {
    left: 0;
    top: -402px;
  }
}
.i-gray-stars--small-0 {
  width: 82px;
  height: 14px;
  background-position: 0 -420px;
}
@media print {
  .i-gray-stars--small-0 img {
    left: 0;
    top: -420px;
  }
}
.i-gray-stars--small-1 {
  width: 82px;
  height: 14px;
  background-position: 0 -434px;
}
@media print {
  .i-gray-stars--small-1 img {
    left: 0;
    top: -434px;
  }
}
.i-gray-stars--small-1-half {
  width: 82px;
  height: 14px;
  background-position: 0 -448px;
}
@media print {
  .i-gray-stars--small-1-half img {
    left: 0;
    top: -448px;
  }
}
.i-gray-stars--small-2 {
  width: 82px;
  height: 14px;
  background-position: 0 -462px;
}
@media print {
  .i-gray-stars--small-2 img {
    left: 0;
    top: -462px;
  }
}
.i-gray-stars--small-2-half {
  width: 82px;
  height: 14px;
  background-position: 0 -476px;
}
@media print {
  .i-gray-stars--small-2-half img {
    left: 0;
    top: -476px;
  }
}
.i-gray-stars--small-3 {
  width: 82px;
  height: 14px;
  background-position: 0 -490px;
}
@media print {
  .i-gray-stars--small-3 img {
    left: 0;
    top: -490px;
  }
}
.i-gray-stars--small-3-half {
  width: 82px;
  height: 14px;
  background-position: 0 -504px;
}
@media print {
  .i-gray-stars--small-3-half img {
    left: 0;
    top: -504px;
  }
}
.i-gray-stars--small-4 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px;
}
@media print {
  .i-gray-stars--small-4 img {
    left: 0;
    top: -518px;
  }
}
.i-gray-stars--small-4-half {
  width: 82px;
  height: 14px;
  background-position: 0 -532px;
}
@media print {
  .i-gray-stars--small-4-half img {
    left: 0;
    top: -532px;
  }
}
.i-gray-stars--small-5 {
  width: 82px;
  height: 14px;
  background-position: 0 -546px;
}
@media print {
  .i-gray-stars--small-5 img {
    left: 0;
    top: -546px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .i-gray-stars {
    background-image: url(img/themes/common/img/gray_stars@2x.png);
  }
}
.rating,
.rating-large,
.rating-very-large {
  position: relative;
  overflow: hidden;
}
.filtered-reviews-content .i-stars {
  background-image: url(img/themes/common/img/gray_stars.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .filtered-reviews-content .i-stars {
    background-image: url(img/themes/common/img/gray_stars@2x.png);
  }
}
@font-face {
  font-family: 'lucida';
  font-style: normal;
  src: url("../fonts/lucida/lucida-calligra-regular.eot");
  src: url("../fonts/lucida/lucida-calligra-regular.woff2") format("woff2"), url("../fonts/lucida/lucida-calligra-regular.woff") format("woff"), url("../fonts/lucida/lucida-calligra-regular.ttf") format("truetype"), url("../fonts/lucida/lucida-calligra-regular.svg#fontawesome") format("svg");
  font-weight: normal;
}
/*variable*/
/* mixin */
/*=====================font-family=========================*/
.min-height340 {
  min-height: 340px;
}
.min-heigh180 {
  min-height: 180px;
}
.mt-8 {
  margin-top: 80px;
}
.mt-170 {
  margin-top: 170px;
}
.mt-N150 {
  margin-top: -150px;
}
.mt-N50 {
  margin-top: -50px;
}
.mt-6 {
  margin-top: 6em !important;
}
.p-10 {
  padding: 10px;
}
.round6 {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.primary-bg {
  background: #00743f;
}
.bg-white {
  background: rgba(255, 255, 255, 0.9) !important;
  box-shadow: 0 14px 38px 0 rgba(0, 116, 63, 0.1);
  -moz-box-shadow: 0 14px 38px 0 rgba(0, 116, 63, 0.1);
  -webkit-box-shadow: 0 14px 38px 0 rgba(0, 116, 63, 0.1);
}
a {
  color: #00743f;
}
a:hover {
  color: #00a75b;
}
h1 {
  color: #00743f;
  font-size: 36px;
  font-weight: 400;
  letter-spacing: 2px;
  line-height: 36px;
}
h1 span {
  font-size: 28px;
  color: #888888;
  display: block;
  font-weight: 300;
}
h2 {
  font-weight: 300;
  font-size: 30px;
  color: #00743f;
}
h3 {
  font-size: 20px;
  color: #000;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 116, 63, 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #00743f;
  border-color: #00743f;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #00743f;
}
.btn-primary {
  color: #fff;
  background-color: #00743f;
  border-color: #00743f;
}
.btn-primary:hover {
  background: #00da76;
  border-color: #00743f;
}
.btn-outline-white {
  color: #fff;
  border-color: #fff;
}
.btn-outline-white:hover {
  background-color: #fff;
}
.btn-link {
  color: #00743f;
}
.btn-link:hover {
  color: #00743f;
}
.btn {
  border-radius: 25px;
  padding: 10px 40px;
  font-weight: 500;
  text-transform: uppercase;
}
.btn-outline-primary {
  color: #00743f;
  background-color: transparent;
  background-image: none;
  border-color: #00743f;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background: #00743f;
  border-color: #00743f;
}
.form-control {
  padding: .675rem .75rem;
  border-radius: 0;
  border-bottom: 2px solid #cbd5dd;
  background: transparent;
}
.form-control:focus {
  border-color: #00743f;
  box-shadow: 0 0 0 0.2rem rgba(0, 116, 63, 0.5);
}
.sticky-book {
  position: fixed;
  right: 0;
  top: 50%;
  background: #00743f;
  padding: 18px 20px 10px 22px;
  z-index: 10;
  border-radius: 40px;
  width: 280px;
  margin-right: -220px;
  color: #fff;
  height: 64px;
}
.sticky-book i {
  font-size: 30px;
}
.sticky-book span {
  padding-left: 15px;
  font-size: 16px;
}
.sticky-book:hover {
  background: light(#00743f, 10%);
  margin-right: -20px;
  -webkit-transition: margin 0.4s ease-in-out;
  transition: margin 0.4s ease-in-out;
  color: #fff;
  text-decoration: none;
}
body {
  font-size: 13px;
  color: #5c5c5c;
  font-family: 'Poppins', sans-serif;
  background: #fff;
  line-height: 23px;
  font-weight: 400;
  overflow-x: hidden;
}
.bottom-fixed {
  background: #00743f;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 50px;
  padding: 15px;
  display: none;
  z-index: 100;
}
.bottom-fixed i {
  color: #fff;
  font-size: 30px;
}
.banner .carousel-caption {
  bottom: 50%;
  top: 35%;
  left: 35%;
  text-align: center;
}
.banner .carousel-caption h5 {
  font-size: 60px;
  color: #fff;
  letter-spacing: 6px;
  font-weight: 300;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  padding: 10px 0;
}
.banner .carousel-caption p {
  font-size: 34px;
  letter-spacing: 8px;
  padding-top: 10px;
  font-weight: 200;
  text-transform: uppercase;
}
.navbar-brand img {
  max-height: 60px;
}
.header-top {
  background: #fff;
  padding: 10px 0;
  border-bottom: 1px solid #e4e4e4;
}
.header-top a {
  display: inline-block;
}
.header-top a span.circle {
  width: 50px;
  height: 50px;
  background: #00743f;
  border-radius: 30px;
  text-align: center;
  display: inline-block;
  padding-top: 15px;
}
.header-top a span.circle i {
  font-size: 19px;
  color: #fff;
}
.header-top a span.text {
  background: transparent;
  font-size: 14px;
  color: #1e1e1e;
  margin-top: 15px;
  display: inline-block;
}
.header-top a:hover {
  text-decoration: none;
}
.header-top .phone a {
  float: right;
}
.header {
  background: #fff;
  padding: 0;
}
.header .navbar {
  padding: 0 1rem;
}
.header .navbar .collapse .navbar-nav .nav-item .nav-link {
  padding: 18px 25px;
  color: #1e1e1e;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
.header .navbar .collapse .navbar-nav .nav-item .nav-link:hover {
  background: #00743f;
  color: #fff;
}
.header .navbar .collapse .navbar-nav .nav-item .dropdown-menu {
  border-radius: 0;
  border: none;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.11);
}
.header .navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  padding: .55rem 1.5rem;
  font-weight: 300;
  color: #929292;
}
.header .navbar .collapse .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  border-left: 4px solid #00743f;
  color: #000;
  transition: all 0.4s ease-in-out;
}
.navbar-toggler {
  border: 1px solid #00743f;
}
.navbar-toggler .navbar-toggler-icon {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/16/img/toggle.svg);
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 3px 4px 8px 0 rgba(0, 0, 0, 0.11);
}
.navbar-fixed-top .collapse .navbar-nav .nav-item .nav-link {
  padding: 33px 40px;
}
.inner-bg {
  background-position: 50% 0;
  background-repeat: no-repeat;
  height: 320px;
}
.lightBG {
  background: url(../img/circles-light-bg.png) repeat 0 0;
  width: 100%;
  padding: 100px 0;
}
.feature-box {
  border: 5px solid #fff;
  -webkit-box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 7px 5px -1px rgba(0, 0, 0, 0.1);
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  background: #00743f;
  text-align: center;
  cursor: pointer;
  height: 100%;
}
.feature-box img {
  max-width: none;
  -webkit-transition: opacity 1s, -webkit-transform 1s;
  transition: opacity 1s, transform 1s;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  height: 100%;
}
.feature-box .figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 4em 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.25em;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.feature-box .figcaption p {
  display: inline-block;
  margin: 0 0 0.25em;
  padding: 0.4em 1em;
  color: #fff;
  text-transform: none;
  font-weight: 500;
  font-size: 18px;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(-360px, 0, 0);
  transform: translate3d(-360px, 0, 0);
}
.feature-box .figcaption a {
  z-index: 1000;
  text-indent: 200%;
  white-space: nowrap;
  font-size: 0;
  opacity: 0;
}
.feature-box:hover img {
  opacity: 0.4;
  -webkit-transform: scale3d(1.1, 1.1, 1);
  transform: scale3d(1.1, 1.1, 1);
}
.feature-box:hover p {
  -webkit-transition-delay: 0s;
  transition-delay: 0s;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* testimonial */
.test-circle {
  width: 100px;
  height: 100px;
  background: #00743f;
  border-radius: 100%;
  position: absolute;
  right: 15%;
  z-index: -1;
}
.testimonial .company-review .photo-box-img {
  border-radius: 100%;
  -webkit-box-shadow: 0px 8px 0px 0px #006f3c;
  -moz-box-shadow: 0px 8px 0px 0px #006f3c;
  box-shadow: 0px 8px 0px 0px #006f3c;
}
.user-display-name {
  font-size: 24px;
  color: #00743f;
  margin-top: 20px;
}
.appointment-bg {
  background: #00743f;
  text-align: center;
  padding: 40px 0;
}
.appointment-bg span {
  color: #fff;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 10px;
  margin-right: 40px;
}
footer {
  background: #000;
  padding: 40px 0 1px;
}
footer h3 {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
  color: #fff;
}
footer .list-group .list-group-item {
  background: transparent;
  color: #8f969d;
  padding: .35rem 0;
}
footer .list-group .list-group-item:hover {
  color: #fff;
}
footer .visit-timing {
  padding: 0;
}
footer .visit-timing li {
  list-style: none;
  color: #fff;
  margin-bottom: 10px;
}
footer .visit-timing li span {
  width: 50%;
  float: left;
}
footer hr {
  border-top: 1px solid #2e2e2e;
}
footer .social-links {
  float: left;
  margin: 0;
  padding: 0;
}
footer .social-links li {
  float: left;
  list-style: none;
  margin-right: 20px;
  font-size: 18px;
}
footer .social-links li a {
  color: #00743f;
}
footer .social-links li a :hover {
  color: #fff;
}
.bg-black {
  background: #333333;
  text-align: center;
  padding: 20px;
  color: #fff;
  font-size: 16px;
}
.circle-img {
  width: 60px;
  height: 60px;
  border-radius: 30px;
  border: 1px solid #333;
  position: relative;
  top: -20px;
  left: 50%;
  margin-left: -35px;
  background: #fff;
  text-align: center;
  padding-top: 12px;
}
.about .feature-box {
  height: auto;
}
.about .feature-box img {
  height: 240px;
}
/* Search */
.header-search-form.show {
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}
.header-search-form {
  position: absolute;
  right: 25px;
  top: 100%;
  width: 300px;
  opacity: 0;
  visibility: hidden;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.header-search-field {
  width: 300px;
  border: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 9px 12px;
  font-size: 14px;
}
.header-search-submit {
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  display: none;
}
@media (max-width: 992px) {
  .banner .carousel-caption {
    left: 35%;
  }
  .mt-N150 {
    margin-top: 0;
  }
  .banner {
    margin-top: 0;
  }
  .header {
    background: #fff;
    border-top: 1px solid #c4c4c4;
  }
}
@media (max-width: 767px) {
  .header-top .phone a {
    float: left;
  }
  .header-top .circle {
    float: left;
  }
  .header-top .text {
    padding-left: 1rem;
  }
  .company-review .text-right {
    text-align: center !important;
  }
  .company-review .text-right .test-circle {
    display: none;
  }
  .header .navbar .collapse .navbar-nav .nav-item .nav-link {
    padding: 10px;
  }
  .appointment-bg span {
    margin-bottom: 20px;
    display: block;
    margin-right: 0;
  }
  footer .social-links {
    text-align: center;
    float: none;
  }
  footer .social-links li {
    display: inline-block;
    text-align: center;
    float: none;
  }
}
