/* Reviews */
.testimonial {
  position: relative;
  background-blend-mode: multiply;
  padding: 0;
  padding-bottom: 40px;
}
.testimonial p {
  font-size: 16px;
}
.testimonial i {
  font-size: 60px;
}
.testimonial .profile-circle {
  background-color: transparent !important;
  background-image: url("https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/client_1.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100px;
  margin: 0 auto;
  width: 100px;
}
.testimonial h2 {
  text-align: center;
  margin: 0px;
  text-transform: uppercase;
}
.testimonial .carousel img {
  width: auto;
}
.testimonial .carousel-inner {
  margin-top: 40px;
}
.testimonial .company-review {
  text-align: center;
}
.testimonial .company-review .photo-box-img {
  border-radius: 50px;
}
.testimonial .company-review .review-content {
  margin-left: 20px;
  padding: 0 12px 6px 0;
}
.testimonial .company-review .review-content .biz-rating-large {
  margin: 6px 0;
}
.testimonial .company-review .review-content .biz-rating-large .rating-large {
  position: relative;
  overflow: hidden;
  margin: -1px 6px 0 0;
}
.testimonial .company-review .review-content .biz-rating-large .rating-large .rating-qualifier {
  display: block;
  float: left;
  font-weight: normal;
}
.testimonial .company-review .review-content .rating,
.testimonial .company-review .review-content .rating-large,
.testimonial .company-review .review-content .rating-very-large {
  position: relative;
  overflow: hidden;
}
.testimonial .company-review .review-content .rating .offscreen,
.testimonial .company-review .review-content .rating-large .offscreen,
.testimonial .company-review .review-content .rating-very-large .offscreen {
  clip: rect(0 0 0 0);
  position: absolute;
  left: -9999px;
  top: auto;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
.testimonial .company-review .review-content .rating img,
.testimonial .company-review .review-content .rating-large img,
.testimonial .company-review .review-content .rating-very-large img {
  vertical-align: middle;
}
.testimonial .company-review .review-content padding {
  margin-bottom: 12px;
}
.testimonial .carousel-control.left {
  background-image: none;
}
.testimonial .carousel-control {
  background-color: rgba(0, 0, 0, 0);
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
  width: auto !important;
  padding: 20px;
  z-index: 1;
}
.testimonial .carousel-control .glyphicon-chevron-right .icon-next,
.testimonial .carousel-control .carousel-control .icon-next {
  margin-right: -10px;
  right: 0;
}
.testimonial .carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.5) 100%);
  background-repeat: repeat-x;
  left: auto;
  right: 0;
}
.testimonial .carousel-control.right .icon-next {
  background-color: #000;
  font-size: 40px;
  height: 79px;
  width: 50px;
  padding: 19px;
}
.testimonial .left.carousel-control .icon-prev,
.testimonial .icon-next {
  background-color: #000;
  font-size: 40px;
  height: 79px;
  width: 50px;
  padding: 19px;
  top: 40%;
}
.quote {
  color: rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 30px;
  margin-top: 50px;
}
.i-stars {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .i-stars {
    background-image: none !important;
  }
  .i-stars img {
    position: relative;
    width: auto;
    height: auto;
  }
}
.i-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 0;
}
@media print {
  .i-stars--large-0 img {
    left: 0;
    top: 0;
  }
}
.i-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px;
}
@media print {
  .i-stars--large-1 img {
    left: 0;
    top: -24px;
  }
}
.i-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px;
}
@media print {
  .i-stars--large-1-half img {
    left: 0;
    top: -48px;
  }
}
.i-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px;
}
@media print {
  .i-stars--large-2 img {
    left: 0;
    top: -72px;
  }
}
.i-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px;
}
@media print {
  .i-stars--large-2-half img {
    left: 0;
    top: -96px;
  }
}
.i-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px;
}
@media print {
  .i-stars--large-3 img {
    left: 0;
    top: -120px;
  }
}
.i-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px;
}
@media print {
  .i-stars--large-3-half img {
    left: 0;
    top: -144px;
  }
}
.i-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px;
}
@media print {
  .i-stars--large-4 img {
    left: 0;
    top: -168px;
  }
}
.i-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px;
}
@media print {
  .i-stars--large-4-half img {
    left: 0;
    top: -192px;
  }
}
.i-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px;
}
@media print {
  .i-stars--large-5 img {
    left: 0;
    top: -216px;
  }
}
.i-stars--regular-0 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px;
}
@media print {
  .i-stars--regular-0 img {
    left: 0;
    top: -240px;
  }
}
.i-stars--regular-1 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
@media print {
  .i-stars--regular-1 img {
    left: 0;
    top: -258px;
  }
}
.i-stars--regular-1-half {
  width: 102px;
  height: 18px;
  background-position: 0 -276px;
}
@media print {
  .i-stars--regular-1-half img {
    left: 0;
    top: -276px;
  }
}
.i-stars--regular-2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
@media print {
  .i-stars--regular-2 img {
    left: 0;
    top: -294px;
  }
}
.i-stars--regular-2-half {
  width: 102px;
  height: 18px;
  background-position: 0 -312px;
}
@media print {
  .i-stars--regular-2-half img {
    left: 0;
    top: -312px;
  }
}
.i-stars--regular-3 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
@media print {
  .i-stars--regular-3 img {
    left: 0;
    top: -330px;
  }
}
.i-stars--regular-3-half {
  width: 102px;
  height: 18px;
  background-position: 0 -348px;
}
@media print {
  .i-stars--regular-3-half img {
    left: 0;
    top: -348px;
  }
}
.i-stars--regular-4 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
@media print {
  .i-stars--regular-4 img {
    left: 0;
    top: -366px;
  }
}
.i-stars--regular-4-half {
  width: 102px;
  height: 18px;
  background-position: 0 -384px;
}
@media print {
  .i-stars--regular-4-half img {
    left: 0;
    top: -384px;
  }
}
.i-stars--regular-5 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}
@media print {
  .i-stars--regular-5 img {
    left: 0;
    top: -402px;
  }
}
.i-stars--small-0 {
  width: 82px;
  height: 14px;
  background-position: 0 -420px;
}
@media print {
  .i-stars--small-0 img {
    left: 0;
    top: -420px;
  }
}
.i-stars--small-1 {
  width: 82px;
  height: 14px;
  background-position: 0 -434px;
}
@media print {
  .i-stars--small-1 img {
    left: 0;
    top: -434px;
  }
}
.i-stars--small-1-half {
  width: 82px;
  height: 14px;
  background-position: 0 -448px;
}
@media print {
  .i-stars--small-1-half img {
    left: 0;
    top: -448px;
  }
}
.i-stars--small-2 {
  width: 82px;
  height: 14px;
  background-position: 0 -462px;
}
@media print {
  .i-stars--small-2 img {
    left: 0;
    top: -462px;
  }
}
.i-stars--small-2-half {
  width: 82px;
  height: 14px;
  background-position: 0 -476px;
}
@media print {
  .i-stars--small-2-half img {
    left: 0;
    top: -476px;
  }
}
.i-stars--small-3 {
  width: 82px;
  height: 14px;
  background-position: 0 -490px;
}
@media print {
  .i-stars--small-3 img {
    left: 0;
    top: -490px;
  }
}
.i-stars--small-3-half {
  width: 82px;
  height: 14px;
  background-position: 0 -504px;
}
@media print {
  .i-stars--small-3-half img {
    left: 0;
    top: -504px;
  }
}
.i-stars--small-4 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px;
}
@media print {
  .i-stars--small-4 img {
    left: 0;
    top: -518px;
  }
}
.i-stars--small-4-half {
  width: 82px;
  height: 14px;
  background-position: 0 -532px;
}
@media print {
  .i-stars--small-4-half img {
    left: 0;
    top: -532px;
  }
}
.i-stars--small-5 {
  width: 82px;
  height: 14px;
  background-position: 0 -546px;
}
@media print {
  .i-stars--small-5 img {
    left: 0;
    top: -546px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .i-stars {
    background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/stars@2x.png);
  }
}
.i-gray-stars {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/gray_stars.png) no-repeat;
  background-size: 132px 560px;
  display: inline-block;
  vertical-align: middle;
}
@media print {
  .i-gray-stars {
    background-image: none !important;
  }
  .i-gray-stars img {
    position: relative;
    width: auto;
    height: auto;
  }
}
.i-gray-stars--large-0 {
  width: 132px;
  height: 24px;
  background-position: 0 0;
}
@media print {
  .i-gray-stars--large-0 img {
    left: 0;
    top: 0;
  }
}
.i-gray-stars--large-1 {
  width: 132px;
  height: 24px;
  background-position: 0 -24px;
}
@media print {
  .i-gray-stars--large-1 img {
    left: 0;
    top: -24px;
  }
}
.i-gray-stars--large-1-half {
  width: 132px;
  height: 24px;
  background-position: 0 -48px;
}
@media print {
  .i-gray-stars--large-1-half img {
    left: 0;
    top: -48px;
  }
}
.i-gray-stars--large-2 {
  width: 132px;
  height: 24px;
  background-position: 0 -72px;
}
@media print {
  .i-gray-stars--large-2 img {
    left: 0;
    top: -72px;
  }
}
.i-gray-stars--large-2-half {
  width: 132px;
  height: 24px;
  background-position: 0 -96px;
}
@media print {
  .i-gray-stars--large-2-half img {
    left: 0;
    top: -96px;
  }
}
.i-gray-stars--large-3 {
  width: 132px;
  height: 24px;
  background-position: 0 -120px;
}
@media print {
  .i-gray-stars--large-3 img {
    left: 0;
    top: -120px;
  }
}
.i-gray-stars--large-3-half {
  width: 132px;
  height: 24px;
  background-position: 0 -144px;
}
@media print {
  .i-gray-stars--large-3-half img {
    left: 0;
    top: -144px;
  }
}
.i-gray-stars--large-4 {
  width: 132px;
  height: 24px;
  background-position: 0 -168px;
}
@media print {
  .i-gray-stars--large-4 img {
    left: 0;
    top: -168px;
  }
}
.i-gray-stars--large-4-half {
  width: 132px;
  height: 24px;
  background-position: 0 -192px;
}
@media print {
  .i-gray-stars--large-4-half img {
    left: 0;
    top: -192px;
  }
}
.i-gray-stars--large-5 {
  width: 132px;
  height: 24px;
  background-position: 0 -216px;
}
@media print {
  .i-gray-stars--large-5 img {
    left: 0;
    top: -216px;
  }
}
.i-gray-stars--regular-0 {
  width: 102px;
  height: 18px;
  background-position: 0 -240px;
}
@media print {
  .i-gray-stars--regular-0 img {
    left: 0;
    top: -240px;
  }
}
.i-gray-stars--regular-1 {
  width: 102px;
  height: 18px;
  background-position: 0 -258px;
}
@media print {
  .i-gray-stars--regular-1 img {
    left: 0;
    top: -258px;
  }
}
.i-gray-stars--regular-1-half {
  width: 102px;
  height: 18px;
  background-position: 0 -276px;
}
@media print {
  .i-gray-stars--regular-1-half img {
    left: 0;
    top: -276px;
  }
}
.i-gray-stars--regular-2 {
  width: 102px;
  height: 18px;
  background-position: 0 -294px;
}
@media print {
  .i-gray-stars--regular-2 img {
    left: 0;
    top: -294px;
  }
}
.i-gray-stars--regular-2-half {
  width: 102px;
  height: 18px;
  background-position: 0 -312px;
}
@media print {
  .i-gray-stars--regular-2-half img {
    left: 0;
    top: -312px;
  }
}
.i-gray-stars--regular-3 {
  width: 102px;
  height: 18px;
  background-position: 0 -330px;
}
@media print {
  .i-gray-stars--regular-3 img {
    left: 0;
    top: -330px;
  }
}
.i-gray-stars--regular-3-half {
  width: 102px;
  height: 18px;
  background-position: 0 -348px;
}
@media print {
  .i-gray-stars--regular-3-half img {
    left: 0;
    top: -348px;
  }
}
.i-gray-stars--regular-4 {
  width: 102px;
  height: 18px;
  background-position: 0 -366px;
}
@media print {
  .i-gray-stars--regular-4 img {
    left: 0;
    top: -366px;
  }
}
.i-gray-stars--regular-4-half {
  width: 102px;
  height: 18px;
  background-position: 0 -384px;
}
@media print {
  .i-gray-stars--regular-4-half img {
    left: 0;
    top: -384px;
  }
}
.i-gray-stars--regular-5 {
  width: 102px;
  height: 18px;
  background-position: 0 -402px;
}
@media print {
  .i-gray-stars--regular-5 img {
    left: 0;
    top: -402px;
  }
}
.i-gray-stars--small-0 {
  width: 82px;
  height: 14px;
  background-position: 0 -420px;
}
@media print {
  .i-gray-stars--small-0 img {
    left: 0;
    top: -420px;
  }
}
.i-gray-stars--small-1 {
  width: 82px;
  height: 14px;
  background-position: 0 -434px;
}
@media print {
  .i-gray-stars--small-1 img {
    left: 0;
    top: -434px;
  }
}
.i-gray-stars--small-1-half {
  width: 82px;
  height: 14px;
  background-position: 0 -448px;
}
@media print {
  .i-gray-stars--small-1-half img {
    left: 0;
    top: -448px;
  }
}
.i-gray-stars--small-2 {
  width: 82px;
  height: 14px;
  background-position: 0 -462px;
}
@media print {
  .i-gray-stars--small-2 img {
    left: 0;
    top: -462px;
  }
}
.i-gray-stars--small-2-half {
  width: 82px;
  height: 14px;
  background-position: 0 -476px;
}
@media print {
  .i-gray-stars--small-2-half img {
    left: 0;
    top: -476px;
  }
}
.i-gray-stars--small-3 {
  width: 82px;
  height: 14px;
  background-position: 0 -490px;
}
@media print {
  .i-gray-stars--small-3 img {
    left: 0;
    top: -490px;
  }
}
.i-gray-stars--small-3-half {
  width: 82px;
  height: 14px;
  background-position: 0 -504px;
}
@media print {
  .i-gray-stars--small-3-half img {
    left: 0;
    top: -504px;
  }
}
.i-gray-stars--small-4 {
  width: 82px;
  height: 14px;
  background-position: 0 -518px;
}
@media print {
  .i-gray-stars--small-4 img {
    left: 0;
    top: -518px;
  }
}
.i-gray-stars--small-4-half {
  width: 82px;
  height: 14px;
  background-position: 0 -532px;
}
@media print {
  .i-gray-stars--small-4-half img {
    left: 0;
    top: -532px;
  }
}
.i-gray-stars--small-5 {
  width: 82px;
  height: 14px;
  background-position: 0 -546px;
}
@media print {
  .i-gray-stars--small-5 img {
    left: 0;
    top: -546px;
  }
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .i-gray-stars {
    background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/gray_stars@2x.png);
  }
}
.rating,
.rating-large,
.rating-very-large {
  position: relative;
  overflow: hidden;
}
.filtered-reviews-content .i-stars {
  background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/gray_stars.png);
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .filtered-reviews-content .i-stars {
    background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/common/img/gray_stars@2x.png);
  }
}
/*variable*/
/* mixin */
/*=====================font-family=========================*/
.min-height340 {
  min-height: 340px;
}
.min-heigh180 {
  min-height: 180px;
}
.mt-8 {
  margin-top: 80px;
}
.mt-168 {
  margin-top: 168px;
}
.round {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.primary-bg {
  background: #e64b39;
}
a {
  color: #e64b39;
}
a:hover {
  color: #ec7466;
}
h1 {
  color: #e64b39;
  font-size: 28px;
  line-height: 34px;
  text-transform: uppercase;
  letter-spacing: 2px;
}
h2 {
  font-weight: 400;
  font-style: italic;
  font-size: 36px;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
}
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(230, 75, 57, 0.5);
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #e64b39;
  border-color: #e64b39;
}
.dropdown-item.active,
.dropdown-item:active {
  background-color: #e64b39;
}
.btn-primary {
  color: #fff;
  background-color: #e64b39;
  border-color: #e64b39;
}
.btn-white {
  color: #000;
  background-color: #fff;
  border-color: #fff;
}
.btn-white:hover {
  background-color: #cccccc;
}
.btn-link {
  color: #e64b39;
}
.btn-link:hover {
  color: #e64b39;
}
.btn {
  border-radius: 0;
  padding: 10px 30px;
  font-weight: 500;
}
.btn-outline-primary {
  color: #e64b39;
  background-color: transparent;
  background-image: none;
  border-color: #e64b39;
}
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  background: #e64b39;
  border-color: #e64b39;
}
.form-control {
  padding: .675rem .75rem;
  border-radius: 0;
}
.form-control:focus {
  border-color: #e64b39;
  box-shadow: 0 0 0 0.2rem rgba(230, 75, 57, 0.5);
}
body {
  font-size: 16px;
  color: #25272e;
  font-family: Roboto;
  background: #f5f5f5;
  line-height: 32px;
  font-weight: 400;
  overflow-x: hidden;
}
.bottom-fixed {
  background: #e64b39;
  height: 50px;
  width: 50px;
  position: fixed;
  bottom: 0;
  right: 50px;
  padding: 15px;
  display: none;
  z-index: 100;
}
.bottom-fixed i {
  color: #fff;
  font-size: 30px;
}
.sticky-book {
  position: fixed;
  left: 0;
  top: 50%;
  background: #e64b39;
  padding: 10px;
  z-index: 10;
  color: #fff;
}
.sticky-book:hover {
  background: #a42415;
}
.banner {
  margin-top: -150px;
  z-index: -2;
}
.banner .carousel-caption {
  bottom: 50%;
  top: 30%;
}
.banner .carousel-caption h5 {
  font-size: 88px;
  color: #fff;
  text-align: center;
  letter-spacing: 6px;
  font-family: Roboto;
  font-weight: 300;
  text-transform: uppercase;
}
.banner .carousel-caption p {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 18px;
}
.banner .d-block {
  -webkit-animation: 8s ease infinite alternate forwards kenburns-left;
  -moz-animation: 8s ease infinite alternate forwards kenburns-left;
  -o-animation: 8s ease infinite alternate forwards kenburns-left;
  animation: 8s ease infinite alternate forwards kenburns-left;
}
.navbar-brand img {
  max-height: 80px;
}
.header {
  padding: 0;
}
.header .collapse:before {
  content: '';
  transform: skewX(-19deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 125px;
  right: -100vw;
  z-index: -1;
  background: #fff;
}
.header .collapse .navbar-nav {
  margin-left: 115px !important;
}
.header .collapse .navbar-nav .nav-item .nav-link {
  padding: 50px 40px;
  font-size: 20px;
  color: #25272e;
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
}
.header .collapse .navbar-nav .nav-item .nav-link:before {
  content: '';
  transform: skewX(-19deg);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 10px;
  right: 0;
  z-index: -1;
}
.header .collapse .navbar-nav .nav-item .search {
  padding: 50px 40px;
  display: block;
}
.navbar-fixed-top {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  background: #fff;
  box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
}
.navbar-fixed-top .collapse .navbar-nav .nav-item .nav-link,
.navbar-fixed-top .collapse .navbar-nav .nav-item .search {
  padding: 30px 40px;
}
.nav-item:focus .nav-link,
.nav-item:hover .nav-link,
.nav-item.active .nav-link {
  color: #fff !important;
}
.nav-item:focus > a:before,
.nav-item > a:hover:before,
.nav-item:hover > a:before,
.nav-item.active > a:before,
.navbar-nav > .nav-item.open > a:before {
  transition: .3s;
  background: #e64b39;
}
/* Search */
.header-search-form.show {
  filter: alpha(opacity=100);
  opacity: 1;
  visibility: visible;
}
.header-search-form {
  position: absolute;
  right: 25px;
  top: 100%;
  width: 300px;
  opacity: 0;
  visibility: hidden;
}
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
.header-search-field {
  width: 300px;
  border: 0;
  margin: 0;
  background-color: #fff;
  box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 1px 2px 10px 0px rgba(0, 0, 0, 0.1);
  padding: 9px 12px;
  font-size: 14px;
}
.header-search-submit {
  position: absolute;
  right: 0;
  top: 0;
  filter: alpha(opacity=0);
  opacity: 0;
  visibility: hidden;
  display: none;
}
.bg-white-box {
  padding: 155px 0 155px 15px;
  position: relative;
  z-index: 5;
  margin-top: -45px;
  margin-bottom: -30px;
}
.bg-white-box:before {
  content: '';
  transform: skewX(-19deg);
  background-color: #fff;
  position: absolute;
  left: -100vw;
  top: 0;
  bottom: 0;
  right: -100vw;
  z-index: -1;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.11);
}
.bg-white-box:before {
  display: block;
}
.triangel:before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 96.4%;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 30px 60px 0 0;
  border-color: #373737 transparent transparent transparent;
  z-index: -2;
}
.bg-images-1 {
  display: block;
}
.bg-images-1 .welcome-bg {
  content: '';
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.bg-images-1 .welcome-bg {
  left: -40px;
  right: -42vw;
}
.testimonial {
  padding: 100px 0;
}
.testimonial h2 {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/16/img/quote-icon.png) no-repeat 50% 0;
  min-height: 65px;
  font-size: 36px;
  padding-top: 12px;
  font-weight: 400;
}
.testimonial .user-display-name {
  font-size: 20px;
  margin-top: 10px;
  color: #25272e;
}
.testimonial .carousel-control {
  opacity: 1;
  top: 50%;
}
.testimonial .carousel-control i {
  background: #fff;
  border-radius: 30px;
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #909090;
  padding-top: 15px;
  text-align: center;
}
.testimonial .carousel-control.right {
  background-image: none;
}
.img-selection {
  position: absolute;
  bottom: 0;
  padding: 50px;
}
.section-heading {
  margin-top: 100px;
}
.section-heading:before {
  content: '';
  position: absolute;
  font-size: 144px;
  color: #f0f0f0;
  font-weight: 700;
  font-style: normal;
  z-index: -1;
  top: -65px;
  left: 20px;
}
.section-heading.one:before {
  content: '1';
}
.section-heading.two:before {
  content: '2';
}
.section-heading.three:before {
  content: '3';
}
.service-section {
  width: 100%;
  height: 480px;
  margin-top: -216px;
  background-size: cover;
  background-position: 50% 50%;
}
.appointment-bg {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  padding: 80px 0;
}
.appointment-bg h1 {
  color: #fff;
}
.appointment-bg .list-group {
  margin-top: 20px;
}
.appointment-bg .list-group .list-group-item {
  background: transparent;
  font-size: 12px;
  color: #e1e1e1;
  border-color: #25272e;
  padding: .25rem 1.25rem;
}
.appointment-bg .list-group .list-group-item a {
  color: #fff;
}
.appointment-bg .list-group .list-group-item a:hover {
  color: #e64b39;
}
footer {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/16/img/footer-bg.jpg) no-repeat 0 0 #25272e;
  padding-top: 75px;
  color: #b7b7b7;
}
footer h3 {
  font-size: 18px;
  color: #fff;
}
footer p {
  font-size: 12px;
  line-height: 20px;
  margin-top: 20px;
}
footer .social-links {
  float: left;
  margin: 0;
  padding: 0;
}
footer .social-links li {
  float: left;
  list-style: none;
  margin-right: 20px;
  font-size: 18px;
}
footer .social-links li a {
  color: #e64b39;
}
footer .social-links li a :hover {
  color: #fff;
}
footer .list-group .list-group-item {
  background: transparent;
  padding: 0;
  color: #b7b7b7;
  font-size: 12px;
  border: none;
}
footer .list-group .list-group-item:hover {
  color: #fff;
}
footer .visit-timing {
  padding: 0;
  list-style: none;
}
footer .visit-timing li {
  font-size: 12px;
  border-bottom: 1px solid #13151a;
}
footer .visit-timing li span {
  width: 50%;
  float: left;
}
footer hr {
  background: #3d404b;
}
/* About  */
.header-inner {
  background: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/16/img/header-bg-top.jpg) no-repeat 0 0;
  z-index: 10;
}
.spacing {
  padding: 100px 0;
}
.service-bg {
  height: 300px;
}
.service-list {
  margin-top: 30px;
  width: 100%;
  float: left;
  padding: 0;
}
.service-list li {
  width: 25%;
  float: left;
  list-style: none;
  text-align: center;
  position: relative;
  margin-bottom: 40px;
}
.service-list li div {
  border: 2px solid #e64b39;
  width: 70px;
  height: 70px;
  border-radius: 100px;
  display: inline-block;
  padding-top: 15px;
  background: #fff;
}
.service-list li div:after {
  content: '';
  position: absolute;
  background: #e64b39;
  height: 2px;
  top: 30%;
  border: 1px solid #e64b39;
  width: 74%;
  left: -100px;
}
.service-list li h4 {
  font-size: 16px;
  margin-top: 10px;
}
.service-list li:nth-child(4n+1) div:after {
  display: none;
}
.team {
  padding: 0;
}
.team li {
  list-style: none;
  width: 25%;
  float: left;
  text-align: center;
}
.team li h4 {
  color: #e64b39;
  margin-top: 10px;
  font-size: 20px;
}
@-webkit-keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    transform-origin: left;
  }
}
@-moz-keyframes kenburns-left {
  0% {
    -moz-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -moz-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -moz-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -moz-transform-origin: left;
    transform-origin: left;
  }
}
@-o-keyframes kenburns-left {
  0% {
    -o-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -o-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -o-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -o-transform-origin: left;
    transform-origin: left;
  }
}
@keyframes kenburns-left {
  0% {
    -webkit-transform: scale(1) translate(0, 0);
    -moz-transform: scale(1) translate(0, 0);
    -o-transform: scale(1) translate(0, 0);
    transform: scale(1) translate(0, 0);
    -webkit-transform-origin: 16% 50%;
    -moz-transform-origin: 16% 50%;
    -o-transform-origin: 16% 50%;
    transform-origin: 16% 50%;
  }
  100% {
    -webkit-transform: scale(1.25) translate(-20px, 15px);
    -moz-transform: scale(1.25) translate(-20px, 15px);
    -o-transform: scale(1.25) translate(-20px, 15px);
    transform: scale(1.25) translate(-20px, 15px);
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
  }
}
/* Media */
@media (min-width: 992px) {
  .bg-white-box:before {
    right: -103px;
    left: -100vw;
  }
  .header .collapse {
    width: 74%;
    text-align: right;
    position: relative;
    display: table-cell;
  }
}
@media (max-width: 1200px) {
  .header .collapse .navbar-nav {
    margin-left: 15px !important;
  }
  .bg-white-box {
    margin-top: 0;
  }
  .header .collapse:before {
    left: 25px;
  }
  .service-list li div:after {
    width: 70%;
    left: -82px;
  }
}
@media (max-width: 992px) {
  .bg-images-1 {
    display: none;
    position: relative;
    min-height: 576px;
  }
  .bg-white-box:before {
    display: none;
  }
  .triangel:before {
    display: none;
  }
  .bg-white:before {
    display: block;
  }
  .bg-white-box {
    margin-top: 0;
    padding: 50px 23px 50px 15px;
    position: relative;
    z-index: 5;
  }
  .header .collapse:before {
    display: none;
  }
  .header .collapse .navbar-nav .nav-item .nav-link {
    padding: 10px;
  }
  .header .collapse .navbar-nav .nav-item .nav-link:before {
    display: none;
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    background: #fff;
    box-shadow: 3px 4px 8px 0px rgba(0, 0, 0, 0.11);
  }
  .banner {
    margin-top: 90px;
  }
  .navbar-toggler {
    border-color: #e64b39;
    color: rgba(255, 255, 255, 0.5);
  }
  .navbar-toggler .navbar-toggler-icon {
    display: inline-block;
    background-image: url(https://dentistreetdev.blob.core.windows.net/design-assets/img/themes/16/img/toggle.svg);
    width: 1.5em;
    height: 1.5em;
    vertical-align: middle;
    content: "";
    background-size: 100% 100%;
  }
  .header .collapse .navbar-nav {
    margin-left: 0 !important;
  }
  .nav-item:focus .nav-link,
  .nav-item:hover .nav-link,
  .nav-item.active .nav-link {
    background: #e64b39 !important;
  }
  .header .collapse .navbar-nav .nav-item .search {
    padding: 10px;
  }
  .header-search-form {
    left: 90px;
  }
  .team li {
    width: 50%;
  }
  .service-list li div:after {
    width: 62%;
    left: -53px;
  }
}
@media (max-width: 768px) {
  .header-search-form {
    left: 0;
  }
  .header {
    padding: 0 10px;
  }
  .team li {
    width: 100%;
    margin-bottom: 30px;
  }
  .service-list li {
    width: 50%;
  }
  .service-list li div:after {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .dropdown-menu {
    margin: 0;
  }
  .dropdown:hover > .dropdown-menu {
    display: block;
  }
}
